NUXT_PUBLIC_API_BASE_URL=https://ruml-api.mirandamedia.cz
# Volitelné; bez nastavení se odvodí z API base.
NUXT_PUBLIC_GRAPHQL_ENDPOINT=https://ruml-api.mirandamedia.cz/graphql
NUXT_PUBLIC_SITE_URL=https://www.ruml-klinger.cz
NUXT_PUBLIC_CONTACT_FORM_ID=866
NUXT_PUBLIC_CAREER_FORM_ID=865
NUXT_PUBLIC_GOOGLE_MAPS_API_KEY=
NUXT_PUBLIC_GTM_ID=GTM-PVPZKVF
