$color-primary: #232f5d;
$color-primary-light: #232f5d;
$color-secondary: #d70c38;
$color-secondary-hover: #bd1439;
$color-font-light: #999798;
$color-font: #474446;
$color-black: #161617;
$color-white: #fff;
$color-inactive: #d6d5d6;
$color-bg: #ebebeb;
$color-bg-light: #f9f9f9;
